<h1>Show selected article</h1>

<fieldset>
<p>
  Title: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>
</fieldset>
<p>
  <%= link_to 'Back to index', articles_path %>
</p>