<!DOCTYPE html>
<head>
<style>
header, footer, h1{
  text-align:center;
}
</style>
</head>
<body>
  <div class="redborder">
    <h1 align='center'>About Page</h1>
  </div>

   <div style="width:50%; border:2px solid green; float:left">
    <div style="border:2px solid green;">
      <%= image_tag 'CompleteRubyOnRailsLogo.png', height:"80", width:"80"%>
 
      <p style="border:2px solid blue; float:right"> <b>ALPHA BLOG</b> is a full stack Ruby on Rails application being taught in Udemy's The Complete Ruby On Rails Developer course.</p>

    <p style="border:2px solid blue;">Deployment is on Heroku.</p>
    </div>
  
  <p><strong>
    Each of the sections are outlined so you can see the structure of this page</p>
  </strong>
  </p>
  <ol style="border:2px solid orange">
    <li><b>An orderd list </b></li>
    <li>paragraphs - blue</li>
    <li>div's - green</li>
    <li>header - red</li>
    <li>lists - orange</li>
  </ol>
  <p style="border:2px solid blue">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
    <div style="border:2px solid green">
      <div style="width:49%; border:2px solid green; float: right; display:block">
        <ul style="border:2px solid orange">
        <li><b>An unordered list</b></li>
        <li>first item</li>
        <li>second item</li>
        <li>third item</li>
        <li>fourth item</li>
        <li>fifth item</li>
        </ul>
        <p style="border:2px solid blue">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>

</body>