<!DOCTYPE html>
<head>
<style>
header, footer, h1{
  text-align:center;
}
</style>
</head>
<body>
<%= link_to "Goto About Page", about_path %>
<div style="margin-left:auto; margin-right:auto; border:2px solid red;">
  <h1>Pages Home Page</h1>
</div>

<div>
<div style="width:50%; border:2px solid green; float:left">
<p style="border:2px solid blue;"> Each of the sections are outlined so you can see the structure of this page</p>
<ol style="border:2px solid orange">
  <li>paragraphs - blue</li>
  <li>div's - green</li>
  <li>header, footer - red</li>
  <li>lists - orange</li>
</ol>
<p style="border:2px solid blue">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</div>
<div style="border:2px solid green">
<div style="width:49%; border:2px solid green; float: right; display:block">
<ul style="border:2px solid orange">
<li>first item</li>
<li>second item</li>
<li>third item</li>
<li>fourth item</li>
<li>fifth item</li>
</ul>
<p style="border:2px solid blue">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</div>
</div>

<div>
  <footer style="border:2px solid red; float:left; width:100%">This is a footer for the Home Page</footer>
</div>
</body>