 <!DOCTYPE html>
<head>
<style>
header, footer, h1{
  text-align:center;
}
</style>
</head>
<body>

  <div class='center jumbotron'>
    <h1>Alpha Blog Home Page</h1>

    <%= link_to 'Sign Up!', signup_path, class:'btn btn-primary btn-large button-border', id:'red-border-hover', style: 'color:white'%>
  </div>

</body>